.body-style {
    font-family: Arial, sans-serif;
    color: wheat;
    background-color: #282c34;
}

.title-text {
    color: #FFFFFF;
}

.flex-container {
    display: flex;
    justify-content: normal;
}

.group-margin {
    margin: 0 8px;
}

.main-container {
    display: flex;
    font-weight: normal;
}

.editor-column {
    margin-top: 20px;;
    margin-left: 15px;
    width: calc( 100% - 200px );
    height: 2750px;
}

.help-column {
    padding-left: 15px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.memory-addr {
    margin-top: 30px;
    margin-bottom: 0;
}

.memory-value {
    margin-top: 5px;
}

.compile-button {
    font-weight: bold;
}

.hex {
    color: #fffdfd;
}

/* Default style: hide the element */
.hidden-on-small {
    display: none;
}

/* When screen width is 850 or more, show the element */
@media (min-width: 850px) {
    .hidden-on-small {
        display: inherit;
    }
}
